* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Noto Sans Mono', monospace;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans',
      Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

:root {
   --white: #f0f6fc;
   --gray: rgb(220, 220, 220, 0.3);
   --black: #0d1117;
   --green: #42b72a;
}
body {
   background-color: var(--black);
}
.container {
   position: relative;
   padding: 5%;
   margin-top: 5%;
}
/* header component start */
header i {
   color: var(--white);
}
header {
   text-align: center;
   margin-top: 10px;
}
header h2 {
   text-align: center;
   color: var(--white);
   margin-top: 10px;
}
/* header component finish */

/* form start */
main {
   display: flex;
   justify-content: center;
   text-align: center;
}
main form {
   margin-top: 30px;
}
main input[type='text'],
form button {
   display: block;
   height: 40px;
   width: 20rem;
   border-radius: 8px;
   outline: none;
   border: none;
   padding: 0 12px;
   margin: 4px 0 10px;
}
form button {
   padding: 5px 16px;
}
main input[type='text'],
main input[type='text']::placeholder {
   font-size: 14px;
}
form button {
   margin-top: 10px;
   background-color: var(--green);
   font-size: 14 px;
   cursor: pointer;
   color: var(--white);
}
/* form end */
/* result */
#for-result {
   color: var(--white);
   text-align: center;
   padding: 10px;
   gap: 20px;
   display: none;
   margin: 2rem;
   border: 1px solid var(--gray);
}

img {
   height: 300px;
   width: 300px;
   margin: 9px;
   border-radius: 50%;
   border: 2px solid var(--gray);
}

#for-result,
h2,
.smallname {
   color: var(--white);
   text-align: left;
   letter-spacing: 0.2px;
}
.profile-container h2 {
   font-size: 24px;
}
.small-name {
   font-weight: thin;
   opacity: 0.4;
   text-transform: capitalize;
   font-size: 20px;
}

a {
   color: var(--gray);
   word-wrap: break-word;
}
.profile-container {
   margin-top: 30px;
   display: flex;
   gap: 6rem;
}
li {
   list-style-type: none;
   border: 1px solid var(--gray);
   text-align: left;
   height: 130px;
   width: 406px;
   padding: 14px;
   border-radius: 5px;
   position: relative;
}
li a {
   color: #2f81f7;
   text-decoration: none;
}
.repos li span {
   position: absolute;
   top: 14px;
   right: 10px;
   border: 1px solid var(--gray);
   padding: 0 7px;
   border-radius: 2em;
   text-transform: capitalize;
   color: var(--white);
   opacity: 0.7;
}
.repos {
   display: grid;
   grid-template-columns: auto auto;
   row-gap: 1rem;
   column-gap: 1rem;
}
/* responsve image */
@media screen and (max-width: 620px) {
   .container {
      margin-top: 30%;
   }
   img {
      height: 150px;
      width: 150px;
   }
   #for-result {
      margin: 2rem;
   }
   .profile-container {
      display: block;
      text-align: center;
   }
   .profile-container h2 {
      text-align: center;
   }
   .repos {
      display: block;
      column-gap: 100px;
   }
   li {
      width: 100%;
      margin: 15px 0;
   }
}
